# Dependencies
node_modules/

# Build output
.next/
out/
dist/

# Environment files
.env*

# Logs
*.log

# Coverage directory
coverage/

# Misc
.DS_Store
*.tsbuildinfo

# Package managers
package-lock.json
yarn.lock
pnpm-lock.yaml 